body{
  font-family: "Montserrat", sans-serif;
  max-width: 2100px;
  margin: 0 auto;
  background-color: #212121; /* Definindo fundo escuro para garantir a leitura caso o css de erro*/
}

*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  align-items: center;
  background-color: #ffffff;
}

.logo-container{
  display: flex;
  align-items: center;
  
}

.logo-container img{
  margin-right: 10PX;
}

h1{
  font-size: 30px;
  color: yellowgreen;
}

ul{
  display: flex;
  flex-wrap: wrap;
}

li{
  padding: 10px 0px 10px 10px;
}

p{
  line-height: 1.4;
}

.menu-nav a{
  font-size: 22px;
  padding: 10px 10px;
  color: #585859;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}

.menu-nav a:hover{
  background-color: yellowgreen;
  color: #ffffff;
  border-radius: 5px;
  transition: 2s;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}



.bg-image{
  position: absolute;
  background-image: url('../images/alexandra-andersson-OmRMR2yPuS4-unsplash\ \(1\).jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.bg-image::before {
  content: ''; /* Necessário para que o pseudo-elemento seja exibido */
  position: absolute; /* Para posicionar o pseudo-elemento sobre o container .bg-image */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Cor de fundo escuro com transparência (aqui 0.6 é a opacidade) */
  z-index: -1;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.9);
}

.bg-container{
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  overflow: hidden; /* Garante que a imagem de fundo não ultrapasse o container */
}

.bg-container h1{
  font-family: "Indie Flower", cursive, sans-serif;
  font-size: 100px;
  font-weight: bold;
}

.bg-container h2{
  font-size: 40px;
  color: #ffffff;
  font-weight: 400;
 
}


.btn-comprar {
  font-size: 22px;
  display: block;
  padding-top: 40px;
}

.btn-comprar a {
  background-color: yellowgreen;
  padding: 10px 10px;
  color: #333333;
  border-radius: 5px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
}

.btn-comprar a:hover{
  background-color: #333333;
  color: yellowgreen;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}

.container-sobre{
  height: auto;
  padding: 80px 40px;
  background-color: #121212;
}

.container-sobre h2{
  font-weight: 400;
  color: #bababa;
  font-size: 28px;
  font-family: "Indie Flower", cursive, sans-serif;
  padding-bottom: 30px;
  line-height: 1.1;
}

.sobre{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  color: #c8c8c8;
}

.sobre-detalhes, .sobre-img {
  flex: 1 0 200px;
}

.sobre-detalhes h3{
  font-size: 22px;
}

.sobre-detalhes p{
  font-size: 18px;
  padding-bottom: 40px;
  padding-left: 0;
}

.sobre-img{
  align-items: center
}


.sobre-img img{
    width: 100%;
    object-fit: cover;
    height: 600px;
    border-radius: 5px;
    
  }
  
  .topo-nav{
    display: flex;
    justify-content: flex-end;
    padding-top: 30px;
  }
  
  .topo-nav a, .nav-topo a{
    display: flex;
    align-items: center;
    font-size: 14px;
    color: yellowgreen;
    font-weight: bold;
    gap: 5px;
  }
  
  

.galeria-produtos, .container-contato, .container-reservas{
  height: auto;
  padding: 80px 40px;
}



.galeria-produtos h2, .contato-titulo h2, .container-contato h2{
  font-weight: 400;
  color: #bababa;
  font-size: 28px;
  font-family: "Indie Flower", cursive, sans-serif;
   margin-bottom: 30px; 
   line-height: 1.1;
}

.itens{
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  
}

.produto{
  flex: 1 1 300px;
  color:#bababa;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.produto img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#comprar{
  display: flex;
  justify-content: space-between;
  padding:20px 20px;
  align-items: center;
}

#comprar a, .acessar-cardapio a {
  padding: 10px 10px;
  color: yellowgreen;
  border-radius: 5px;
  font-weight: bold;
  background: #333333;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

#comprar a:hover, .acessar-cardapio a:hover{
  background-color: yellowgreen;
  color: #333333;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
}

.produto h3, p, a, span{
padding: 10px 20px;
}

.produto:hover, .descricao-unidades:hover{
  background-color: rgba(0, 0, 0, 0.6);
  transform: scale(1.02);
  border: 2px solid yellowgreen;
  
}

.produto h3{
  font-size: 22px;
  font-weight: bold;
}

.produto h3:hover{
  font-size:24px ;
}

.produto p{
  font-size: 18px;
  color: #c8c8c8;
}

.produto span{
  display: block;
  color: #c8c8c8;
  font-size: 16px;
}

.cardapio-container{
  height: auto;
  padding: 80px 40px;
  background-color: #121212;
}

.cardapio-container h2{
  font-weight: 400;
  color: #bababa;
  font-size: 28px;
  font-family: "Indie Flower", cursive, sans-serif;
  line-height: 1.1;
}

.cardapio{
  height: auto;
  display: flex;
  flex-wrap: wrap;
  padding: 30px 0 0;
  gap: 20px;
}

.cardapio img{
  flex: 1 0 175px;
}

.acessar-cardapio{
  flex: 1 0 40%;
}

.cardapio img{
  width: 175px;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.acessar-cardapio{
  background-color: #212121;
  padding: 10px;
  text-align: center;
  align-content: center;
  border-radius: 5px;
}

.acessar-cardapio h3{
  font-size: 26px;
  color: #bababa;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px 0 5px 0;
}

.acessar-cardapio h4{
  font-weight: 400;
  font-size: 22px;
  color: #c8c8c8;
  padding-bottom: 20px;
  font-family: "Indie Flower", cursive, sans-serif;
  line-height: 1.1;
}

.acessar-cardapio p{
  font-size: 18px;
  color: #c8c8c8;
  padding: 0;
  padding-bottom: 40px;
}

.btn-cardapio{
  padding: 20px;
}

/* Início Página Cardápio */

.container-cardapio{
  height: auto;
  padding: 40px;
}

.container-cardapio p, span{
  padding: 0;
}

.container-lista{
  background-color: #333333;
  padding: 40px;
  margin-bottom: 20px;
}


.titulo-lista p{
  border-bottom: 1px solid #585859;
}


.titulo-lista h2, .container-reservas h2{
  font-weight: 400;
  color: #bababa;
  font-size: 28px;
  font-family: "Indie Flower", cursive, sans-serif;
  line-height: 1.1;
 padding-bottom: 30px;
}

.descricao-cardapio{
  color: #c8c8c8;
}
.descricao-cardapio h3{
  padding-top: 10px;
}

.descricao-cardapio p{
  font-size: 12px;
  color: #bababa;
  padding: 3px 0 10px;
}

.cardapio-opc{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 1px solid #585859;
}

.cardapio-opc h3{
font-size: 22px;
}

.cardapio-opc span{
 align-self: flex-end;
 font-weight: bold;
 padding-top: 5px;
 color: yellowgreen;
}

.nav-topo{
  display: flex;
  justify-content: flex-end;
}


/* Fim Página Cardápio */

/* Contato */
.container-contato{
  height: auto;
  background-color: #212121;
}

.box-unidades{
  color: #c8c8c8;
}

.unidades{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.unidades h3{
  font-size: 22px;
  font-weight: bold;
  padding: 10px 20px 20px;
  
}

.unidades img{
  object-fit: cover;
  width: 100%;
  height: 200px;
  
}

.unidades p{
  font-size: 18px;
  padding: 0 20px;
}

.unidades a{
  color: #c8c8c8;
  padding: 0px;
}

.descricao-unidades{
  flex: 1 0 200px;
  color: #c8c8c8;
  border: 1px solid #bababa ;
  border-radius: 5px;
  padding-bottom: 20px;
}

/* Reservas */
.container-reservas{
  background-color: #121212;
}

.reserva{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  align-items: center;
}

.iten-1, .iten-2{
  grid-column: 1 / span 3;
}

.iten-6{
  grid-column: 1 / span 2;
}


.reserva label{
  display: block;
  padding:10px 0 ;
  color: #c8c8c8;
  font-size: 18px; 
}


.reserva input, select {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  display: inline-block;
  padding: 20px 20px;
  border-radius: 5px;
  border: none;
  color: #d9d9d9;
  background-color: #121212;
  border: 1px solid #c8c8c8;
  width: 100%;
  outline: none;
  appearance: none;
  cursor: pointer;
  font-weight: 300;
}




/* invertendo cor do calendario, e relogio */

input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}

input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1); 
}


.reserva button{
  font-size: 18px;
  color:yellowgreen;
  display: block;
  padding:20px 20px ;
  border-radius: 5px;
  background-color: #121212;
  border: 1px solid #c8c8c8;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  align-self: flex-end;
}

.reserva button:hover{
  background-color: yellowgreen;
  color: #333333;
  transition: all 0.3s ease;
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.6);
  border: none;
}



  






/* Fim Reservas */

/* Fim Contato */

/* Footer */
/* .rodape-container{
  height: auto;
  background-color: #121212;
  padding: 190px 40px;
} */
/* Fim Footer */



@media (max-width:915px){

  .navegacao{
    justify-content: space-between;
    display: flex;
    padding: 30px 20px;
  }
  .logo-container{
    text-align: center;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

  .menu-nav {
    display: flex;
    flex-direction: row;
  }
  
  .menu-nav ul {
    display: flex;
    gap: 20px;
  }
  
  .menu-nav ul li {
    list-style: none;
  }
  
  /* Estilos para o menu hambúrguer */
  .menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }
  
  .menu-toggle .bar {
    background-color: yellowgreen;
    height: 3px;
    width: 25px;
    margin: 4px;
    transition: 0.3s;
  }

  /* Menu Hamburguer */
  .menu-nav {
    display: none;
  }

  .menu-toggle {
    display: flex;
  }

  .menu-nav.active {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: 70px; /* Ajuste conforme necessário */
    right: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  .menu-nav.active ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .menu-nav.active ul li {
    text-align: center;
  }

  .menu-toggle.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .menu-toggle.active .bar:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
/* Fim  menu */

/* Menu Fixo */
.menu-fixo{
  position: fixed;
  width: 100%;
  z-index: 10000;
}
/* Fim Menu Fixo */

  h1{
    font-size: 26px;
  }

  .menu-nav a{
    font-size: 18px;
  }

  .bg-container{
    padding: 30px 20px;
  }

  .bg-container h1{
    font-size: 40px;
  }

  
  .bg-container h2{
    font-size: 22px;
  }

  .btn-comprar a{
    font-size: 18px;

  }
  
  .container-sobre, .cardapio-container, .galeria-produtos, .container-contato, .container-reservas {
    padding: 40px 20px;
  }

  .container-cardapio{
    padding: 140px 20px 0;
  }

  .bg-container{
    padding: 100px 20px 0px;
  }

  .container-sobre img{
    height: 300px;
  }

  .sobre-detalhes p{
    padding-bottom: 20px;
  }
  
  .sobre{
    flex-direction: column;
  }
  
  .sobre-detalhes, .sobre-img{
    flex: 1 0 100%;
  }
  
  .sobre-detalhes{
    order: 1;
  }
  
  .sobre-img{
    order: 2;
    width: 100%;
  }
  

  .galeria-produtos {
    font-size: 18px;
  }

  .itens{
    gap: 20px;
  }
  
  span{
    padding: 0px;
  }

  .acessar-cardapio p{
    padding-bottom: 20px;
  }


  .img-cardapio{
    display: none;
  }


  .galeria-titulo{
    display: flex;
    flex-wrap: wrap;
  }

  .galeria-titulo h2{
    margin-bottom: 10px;
  }

  .galeria-itens{
    overflow-x: auto; /* Permite rolagem horizontal */
    overflow-y: hidden; /* Oculta rolagem vertical, se houver */
    padding: 20px 0px; /* Ajusta o padding para melhor visualização */
  }

  .box-unidades{
    overflow-x: auto; /* Permite rolagem horizontal */
    overflow-y: hidden; /* Oculta rolagem vertical, se houver */
    
  }

  .itens, .unidades {
    display: inline-flex; /* Exibe itens em uma linha única */
    flex-wrap: nowrap; /* Impede quebra de linha */
    gap: 10px; /* Espaçamento entre produtos */

  }

  .produto, .descricao-unidades {
    flex: 0 0 auto; /* Impede que os itens sejam redimensionados */
    width: 240px; /* Ajuste o tamanho conforme necessário */
  }

  .produto img, .descricao-unidades img {
    width: 100%; /* Faz com que a imagem preencha o produto */
    height: 150px; /* Mantém a proporção da imagem */
  }

  .produto h3, p, #comprar{
    padding: 10px 10px;
  }

  .topo-nav, .nav-topo{
    display: none;
  }

  .container-lista{
    padding: 20px;
  }

  .container-contato h2{
    margin-bottom: 10px;
  }

  .unidades{
    padding: 20px  0 20px;
  }

  .descricao-unidades h3{
    padding: 10px 10px 10px;
  }

  .descricao-unidades p{
    font-size: 16px;
    padding:  0 10px;
  }

  .produto:hover, .descricao-unidades:hover{
    background-color: rgba(0, 0, 0, 0.6);
    transform: scale(1.0);
    border: 2px solid yellowgreen;
    
  }

  .reserva{
    grid-template-columns: 1fr;
  }

  .iten-1,.iten-2, .iten-6{
    grid-column: 1;
  }
  
}


@media (max-width: 560px){

  .cardapio{
    flex-direction: column;
  }

  .cardapio img{
    height: 200px;
    width: 100%;
  }

  .cardapio-opc{
    display: block;
  }

  

  .sobre-order{
    display: none;
  }


}


